@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.promo {
  @include device(notebook) {
    padding: 6rem 3rem;
  }

  @include device(tablet) {
    align-items: center;
  }

  @include max-width;

  display: flex;
  flex-direction: column;
  align-items: flex-end;

  .content {
    display: flex;

    .div1 {
      @include device(tablet) {
        display: none;
      }
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-end;
      gap: 1.6rem;
      padding: 10rem 10rem;
      background-color: $lightDarkSecondary;
      border-top-left-radius: 20px;
      border-end-start-radius: 20px;
      box-shadow: 0.3rem 0.6rem 1em rgba($black, 0.25);

      h2 {
        color: $primary;
        font-weight: 700;
      }

      p {
        color: $background;
      }

      .btn {
        display: inline-block;
        border: solid $primary;
        padding: 1rem 1rem;
        font-family: $textFont;
        background-color: $lightDarkSecondary;
        color: $primary;
        font-weight: 700;
        border-radius: 20px;
        font-size: 1.4rem;
        width: max-content;
        margin: 1.2rem 0;

        &:hover {
          cursor: pointer;
          border: solid lighten($background, 3);
          background-color: lighten($background, 3);
          color: $primary;
        }
      }
    }

    .div2 {
      @include device(tablet) {
        border-top-left-radius: 20px;
        border-end-start-radius: 20px;
        box-shadow: 0.3rem 0.6rem 1em rgba($black, 0.25);
      }

      @include device(mobile) {
        flex-direction: column;
        padding: 5rem 5rem;
      }

      background-color: $primary;
      display: flex;
      align-items: flex-end;
      padding: 10rem 2rem;
      border-end-end-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0.3rem 0.6rem 1em rgba($black, 0.25);

      h2 {
        color: $background;
        font-size: 3rem;
        font-weight: 700;
      }

      .image {
        filter: drop-shadow(0.3rem 0.6rem 1rem rgba($black, 0.25));
        -webkit-filter: drop-shadow(0.3rem 0.6rem 1rem rgba($black, 0.25));

        @include device(notebook) {
          width: 265px;
          height: 265px;
        }
      }
    }
  }

  .btn {
    display: inline-block;
    border: none;
    outline: none;
    padding: 1.2rem 2rem;
    font-family: $textFont;
    background-color: $primary;
    color: $lightSecondary;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 20px;
    font-size: 1.6rem;
    width: max-content;
    margin: 1.2rem 0;

    &:hover {
      cursor: pointer;
      background-color: lighten($lightPrimary, 3);
    }
  }
}
