@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.dflex {
  display: flex;
}

.acesseBtn {
font-size: 14px;
color: #1B2C1E;
font-weight: 600;
padding-left: 3px;
cursor: pointer;

}

.form {
  display: flex;
  flex-direction: column;
  gap: 3rem;

  .input {
    position: relative;

    svg {
      position: absolute;
      right: 0;
    }

    span {
      position: absolute;
      left: 0;
      top: 3rem;
      font-weight: 700;
      color: $darkSecondary;
      font-size: 1.2rem;

      a {
        color: $primary;
      }
    }

    label {
      position: absolute;
      bottom: 5px;
      left: 0;
      color: $darkSecondary;
      cursor: text;
      transition: 0.1s ease-in-out;
    }

    input {
      width: 100%;
      padding: 0.5rem;
      border: none;
      border-bottom: 2px solid $lightDarkSecondary;
      outline: none;
      font-size: 1.2rem;
      color: $darkSecondary;
      background-color: $background;
      transition: 0.1s ease-in-out;

      &:focus,
      &:valid {
        border-bottom: 2px solid $darkSecondary;

        & ~ label {
          transform: translateY(-24px);
          font-size: 1rem;
          color: $darkSecondary;
        }
      }
    }
  }

  h2 {
    font-weight: 700;
    color: $darkSecondary;
  }

  h3 {
    font-weight: 700;
    color: $lightDarkSecondary2;
    font-size: 14px;
  }



  .btns {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
}
