@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.btn {
  display: inline-block;
  border: solid $secondary;
  padding: 1rem 1rem;
  font-family: $textFont;
  background-color: $primary;
  color: $secondary;
  font-weight: 700;
  border-radius: 20px;
  font-size: 1.4rem;
  width: max-content;
  margin: 1.2rem 0;

  &:hover {
    cursor: pointer;
    background-color: $secondary;
    color: $primary;
  }
}
