// colors
$primary: #1a2917;
$lightPrimary: #6e8e75;

$secondary: #e6d6a6;
$lightSecondary: #f8f5eb;
$mediumSecondary: #c6c1ac;
$lightDarkSecondary: #8a8e6e;
$lightDarkSecondary2: #857051;
$darkSecondary: #665a4d;

$background: #dcc7a8;
$black: #000000;

// font
$headerFont: "Inter", sans-serif;
$textFont: "Inria Serif", serif;
