@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    font-weight: 700;
    color: $darkSecondary;
  }

  p {
    color: $darkSecondary;
  }

  .form {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .input {
      position: relative;

      svg {
        position: absolute;
        right: 0;
      }

      label {
        position: absolute;
        bottom: 5px;
        left: 0;
        color: $darkSecondary;
        cursor: text;
        transition: 0.1s ease-in-out;
      }

      input {
        width: 100%;
        padding: 0.5rem;
        border: none;
        border-bottom: 2px solid $lightDarkSecondary;
        outline: none;
        font-size: 1.2rem;
        color: $darkSecondary;
        background-color: $background;
        transition: 0.1s ease-in-out;

        &:focus,
        &:valid {
          border-bottom: 2px solid $darkSecondary;

          & ~ label {
            transform: translateY(-24px);
            font-size: 1rem;
            color: $darkSecondary;
          }
        }
      }
    }
  }
}
